#include <stdio.h>
#include <conio.h>
#include <stdlib.h>

int main(){
    system(¨color e6¨);
    int codigo, telefono;
    char nombre[30],res;
    File *X;
    X=fopen (¨agenda.dat¨,¨¨r+¨);
    if(X==NULL){
        printf (¨/n/n/tERROR de apertura del archivo¨);
        getch();
        exit(0);
   }else{
        printf(¨/n/n/tapertura de la agenda exitosa¨);
   }
   printf(¨/n/t/t---------------------------------¨);
   printf(¨/n/n/tAgenda de contacto¨);
   printf(¨/n/t/t---------------------------------¨);
  
   while(!feod(X)){
       fscanf(X,¨%d¨;&codigo);
       fscanf(X,¨%s¨;&nombre);
       fscanf(X,¨%d¨;&telefono);
       printf(¨/n/t %d/t/t&s/t/t%d¨,codigo,nombre,telefono);
   }
   printf(¨/n/n/tFin del recorido de su agenda....¨);
   
   getch();
   
}
